<div class="header-container">
    <img alt="" src="assets/img/workspace-header/main-logo.svg">
    <div class="search-bar-container">
        <input placeholder="Devspace durchsuchen" type="text">
        <img alt="" src="assets/img/workspace-header/search.svg">
    </div><!--
    <div class="profile-container">
        <span *ngIf="currentUser | async as user">
            {{ user.userName }}
        </span>
        <img *ngIf="currentUser | async as user" [src]="user.photoURL" alt="" class="profile-avatar">
        <img *ngIf="!(currentUser | async)" alt="" class="profile-avatar" src="assets/img/avatars/av-03.svg">
        <img alt="" class="arrow-down" src="assets/img/workspace-header/keyboard_arrow_down.svg">
    </div>-->
</div>
