<div (click)="onItemClick()" 
     [ngClass]="{
       'activate': (dmChannel?.channelId && dmChannel.channelId === chatService.activeChat) || 
                   (chatPartner?.uid && !dmChannel && chatPartner?.uid === chatService.activeChat)
     }"
     class="menu-item">
	<div class="avatar">
		<img [ngSrc]="chatPartner?.photoURL || '/assets/img/avatars/av-00.svg'" alt="User profile picture" fill="true"/>
		<ng-container *ngIf="chatPartnerPresence$ | async as presence">
			<div [ngClass]="presence.status" class="status"></div>
		</ng-container>
		<div *ngIf="!(chatPartnerPresence$ | async)" class="status offline"></div>
	</div>
	<div>{{ chatPartner?.userName || "Unknown User" }}</div>
</div>
