<div class="card-wrapper">
  <div class="signup-card">
    <div class="card-header">
      <button (click)="navigateBack()" class="btn btn-back">
        <svg class="lucide lucide-arrow-left-icon lucide-arrow-left" fill="none" height="24" stroke="currentColor"
             stroke-linecap="round"
             stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="m12 19-7-7 7-7"/>
          <path d="M19 12H5"/>
        </svg>
      </button>
      <h2>Create Account</h2>
      <span>With your name and e-mail address, you'll be good to go with your new DABubble account.</span>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
      <div class="form-group">
        <div class="input-field">
          <input formControlName="name" id="signup-name" placeholder="Fullname" type="text">
          <svg class="lucide lucide-user-round-icon lucide-user-round" fill="none" height="24" stroke="currentColor"
               stroke-linecap="round"
               stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
               xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="8" r="5"/>
            <path d="M20 21a8 8 0 0 0-16 0"/>
          </svg>
        </div>
        <span [class.visible]="signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched"
              class="error-message">
                    *Please enter your full name.
                </span>
        <div class="input-field">
          <input formControlName="email" id="signup-email" placeholder="email@example.com" type="email">
          <svg class="lucide lucide-mail-icon lucide-mail" fill="none" height="24" stroke="currentColor"
               stroke-linecap="round"
               stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
               xmlns="http://www.w3.org/2000/svg">
            <rect height="16" rx="2" width="20" x="2" y="4"/>
            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/>
          </svg>
        </div>
        <span [class.visible]="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched"
              class="error-message">
                    *Please enter a valid e-mail address.
                </span>
        <div class="input-field">
          <input formControlName="password" id="signup-password" placeholder="Password" type="password">
          <svg class="lucide lucide-lock-icon lucide-lock" fill="none" height="24" stroke="currentColor"
               stroke-linecap="round"
               stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
               xmlns="http://www.w3.org/2000/svg">
            <rect height="11" rx="2" ry="2" width="18" x="3" y="11"/>
            <path d="M7 11V7a5 5 0 0 1 10 0v4"/>
          </svg>
        </div>
        <span [class.visible]="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched"
              class="error-message">
                    *Password must contain at least 8 characters.
                </span>
        <div class="checkbox-field">
          <input formControlName="policy" id="signup-checkbox" type="checkbox">
          <span class="label">I agree to the
                        <a rel="noopener noreferrer" routerLink="/privacy-policy" target="_blank">Privacy Policy</a>.
                    </span>
        </div>
      </div>
      <div class="form-controls">
        <button [disabled]="!signUpForm.valid || !signUpForm.get('policy')?.value" class="btn btn-primary"
                type="submit">Next
        </button>
      </div>
    </form>
  </div>
</div>
