<!-- <div *ngIf="isProfileModalOpen" class="modal-bg">
    <div
        *ngIf="isProfileModalOpen"
        class="modal"
        onclick="event.stopPropagation()"
    >
        <div class="container">
            <h2>Profil</h2>
            <img src="" alt="" />
            <h1>Noah Braun</h1>
            <div class="online-status">Active</div>
            <div class="email-container">
                <div>
                    <img src="" alt="" />
                    <div>Email-Adress</div>
                </div>
                <a href="mailto: #">noahbraun@test.mail</a>
            </div>
            <button><img src="" alt="" />Message</button>
        </div>
    </div>
</div> -->
