<div class="profile-modal" onclick="event.stopPropagation()">
    <div class="container">
        <header>
            <h2>Profile</h2>
            <div (click)="closeProfileCard()" class="button">
                <img src="assets/img/profile-card/close.svg" />
            </div>
        </header>

        <div class="profile-img-container">
            <img [src]="currentPerson.photoURL" />
        </div>

        <div>
            <div class="name-container">
                <div>
                    <h1 *ngIf="currentPerson">{{ currentPerson.userName }}</h1>

                    <button
                        *ngIf="
                            isUserProfileCardOpen &&
                            currentPerson.role == 'user'
                        "
                    >
                        Bearbeiten
                    </button>
                </div>
                <div class="online-status">
                    <div
                        [class]="
                            currentPerson.status === 'online'
                                ? 'online'
                                : 'offline'
                        "
                        class="status-icon"
                    ></div>
                    {{
                        currentPerson.status === "online" ? "Active" : "Offline"
                    }}
                </div>
            </div>
        </div>

        <div class="email-container">
            <div>
                <img src="assets/img/profile-card/letter.svg" />
                <div>Email-Adress</div>
            </div>
            <a *ngIf="currentPerson" href="mailto: {{ currentPerson.email }}">{{
                currentPerson.email
            }}</a>
        </div>

        <div *ngIf="isProfileCardOpen" class="button-container">
            <button>
                <img src="assets/img/profile-card/bubble.svg" />Message
            </button>
        </div>
    </div>
</div>
