<section [class.close-menu]="isMainMenuOpen" class="main-menu-section">
	<div class="main-menu-container">
		<header>
			<div class="desktop-header">
				<div class="logo-container">
					<img
						alt="logo"
						height="60"
						ngSrc="assets/img/main-menu/workspace-logo.svg"
						width="60"
					/>
					<h1>Devspace</h1>
				</div>

				<div class="add-new-channel-btn">
					<img
						(click)="handleNewMessage(true)"
						alt="edit square"
						height="24"
						ngSrc="assets/img/main-menu/edit_square.svg"
						width="24"
					/>
				</div>
			</div>

            <app-search-card class="search-bar-container"></app-search-card>
		</header>

		<main>
			<div class="menu-container">
				<header>
					<div
						(click)="toggleChannelList()"
						[class.close-list-btn]="showChannelList"
					>
						<div>
							<img
								alt="arrow close dropdown"
								class="dropdown-img"
								height="30"
								ngSrc="assets/img/main-menu/arrow_close_dropdown.svg"
								width="30"
							/>
						</div>
						<div>
							<div>
								<img
									alt="channels"
									class="channel-img"
									height="24"
									ngSrc="assets/img/main-menu/channels.svg"
									width="24"
								/>
							</div>
							<h2>Channels</h2>
						</div>
					</div>

					<div (click)="toggleModal()" class="button">
						<img
							alt="add"
							height="14"
							ngSrc="assets/img/main-menu/add.svg"
							width="14"
						/>
					</div>
				</header>

				<div [class.close-list]="showChannelList" class="menu-list-container">
					<div class="menu-list">
						<!-- Channels List -->
						<!-- TODO: MARKER -->
						<app-channel-list-item
							(click)="setSelectedChannel(channel.channelId, null)"
							*ngFor="let channel of channels"
							[channel]="channel"
							class="channel-list-item"
						>
						</app-channel-list-item>
						<div (click)="toggleModal()" class="add-channel-btn">
							<div>
								<img
									alt="add circle"
									height="24"
									ngSrc="assets/img/main-menu/add_circle.svg"
									width="24"
								/>
							</div>
							<h3>New Channel</h3>
						</div>
					</div>
				</div>
			</div>

			<div class="menu-container">
				<header>
					<div
						(click)="toggleDirectMessageList()"
						[class.close-list-btn]="showUserList"
					>
						<div>
							<img
								alt="arrow close dropdown"
								class="dropdown-img"
								height="30"
								ngSrc="assets/img/main-menu/arrow_close_dropdown.svg"
								width="30"
							/>
						</div>
						<div>
							<div>
								<img
									alt="direct messages"
									class="direct-messages-img"
									height="24"
									ngSrc="assets/img/main-menu/direct_messages.svg"
									width="24"
								/>
							</div>
							<h2>Direct Messages</h2>
						</div>
					</div>
				</header>

				<div [class.close-list]="showUserList" class="menu-list-container">
					<div class="menu-list">
						<!-- TODO: MARKER -->

						<app-direct-message-list-item
							(click)="setSelectedChannel(currentUser.uid, currentUser)"
							*ngIf="currentUser"
							[chatPartner]="currentUser">
						</app-direct-message-list-item>

						<app-direct-message-list-item
							(channelSelected)="onChannelSelected($event)"
							*ngFor="let dmChannel of directMessageChannels"
							[chatPartner]="getDirectMessageUserData(dmChannel) | async"
							[dmChannel]="dmChannel">
						</app-direct-message-list-item>

						<app-direct-message-list-item
							(channelSelected)="onChannelSelected($event)"
							*ngFor="let user of availableUsersForDM"
							[chatPartner]="user">
						</app-direct-message-list-item>
					</div>
				</div>
			</div>
		</main>

		<div class="mobile-add-new-channel-btn">
			<img
				(click)="handleNewMessage(true)"
				alt="edit square"
				height="24"
				ngSrc="assets/img/main-menu/edit_square.svg"
				width="24"
			/>
		</div>

		<div (click)="toggleModal()" *ngIf="isModalOpen" class="modal-bg">
			<div
				(click)="stopPropagation($event)"
				*ngIf="isModalOpen"
				class="new-channel-modal"
			>
				<div class="container">
					<header class="new-channel-modal-header">
						<div>
							<h1>Create Channel</h1>
							<div class="header-description">
								Channels serve your team for communication. It is best to be
								topic related #marketing for example.
							</div>
						</div>
						<div (click)="toggleModal()" class="close-btn">
							<img
								alt="close"
								height="14"
								ngSrc="assets/img/chat/close.svg"
								width="14"
							/>
						</div>
					</header>
					<form
						#channelForm="ngForm"
						(ngSubmit)="
							addNewChannel(channelFormData.name, channelFormData.description)
						"
						class="new-channel-modal-main"
					>
						<div>
							<h2>Channel-Name</h2>
							<div class="input-container">
								<img
									alt="channel tag grey"
									height="16"
									ngSrc="/assets/img/main-menu/channel_tag_grey.svg"
									width="16"
								/>
								<input
									[(ngModel)]="channelFormData.name"
									id="name"
									name="name"
									placeholder="e.g. marketing"
									required
									type="text"
								/>
							</div>
						</div>

						<div>
							<h2>Description <span>(optional)</span></h2>
							<div class="input-container">
								<input
									[(ngModel)]="channelFormData.description"
									id="description"
									name="description"
									placeholder="Your description text"
									type="text"
								/>
							</div>
						</div>

						<div class="submit-container">
							<button [disabled]="channelForm.invalid" type="submit">
								Erstellen
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<div *ngIf="screenWidth > 768" class="menunav-button-container">
	<div
		(click)="toggleMainMenu()"
		[class.close-menu-button]="isMainMenuOpen"
		class="menunav-button"
	>
		<span class="text-menu-button">
			{{ isMainMenuOpen ? isClosedText : isOpenText }}
		</span>
		<div
			[ngClass]="isMainMenuOpen ? 'img-close' : 'img-open'"
			class="img-field"
		></div>
	</div>
</div>
