<section [class.close-menu]="isOpen" class="main-menu-section">
    <div class="main-menu-container">
        <header>
            <div>
                <img src="assets/img/main-menu/logo.svg" />
                <h1>Devspace</h1>
            </div>

            <div class="add-new-channel-btn">
                <img
                    (click)="addNewChannel()"
                    src="assets/img/main-menu/edit_square.svg"
                />
            </div>
        </header>

        <main>
            <div class="menu-container">
                <header>
                    <div
                        (click)="toggleChannelList()"
                        [class.close-list-btn]="showChannelList"
                    >
                        <div>
                            <img
                                class="dropdown-img"
                                src="assets/img/main-menu/arrow_close_dropdown.svg"
                            />
                        </div>
                        <div>
                            <div>
                                <img
                                    class="channel-img"
                                    src="assets/img/main-menu/channels.svg"
                                />
                            </div>
                            <h2>Channels</h2>
                        </div>
                    </div>

                    <div class="button">
                        <img
                            (click)="addNewChannel()"
                            src="assets/img/main-menu/add.svg"
                        />
                    </div>
                </header>

                <div
                    [class.close-list]="showChannelList"
                    class="menu-list-container"
                >
                    <div class="menu-list">
                        <app-channel-list-item
                            *ngFor="let channel of channels"
                            [channel]="channel"
                            [active]="channel.id === activeMenuItem"
                            (activeMenuItem)="setActiveChat($event)"
                            class="channel-list-item"
                        ></app-channel-list-item>
                        <div (click)="addNewChannel()" class="add-channel-btn">
                            <div>
                                <img
                                    src="assets/img/main-menu/add_circle.svg"
                                />
                            </div>
                            <h3>New Channel</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu-container">
                <header>
                    <div
                        (click)="toggleDirectMessageList()"
                        [class.close-list-btn]="showUserList"
                    >
                        <div>
                            <img
                                class="dropdown-img"
                                src="assets/img/main-menu/arrow_close_dropdown.svg"
                            />
                        </div>
                        <div>
                            <div>
                                <img
                                    class="direct-messages-img"
                                    src="assets/img/main-menu/direct_messages.svg"
                                />
                            </div>
                            <h2>Direct Messages</h2>
                        </div>
                    </div>
                </header>

                <div
                    [class.close-list]="showUserList"
                    class="menu-list-container"
                >
                    <div class="menu-list">
                        <app-direct-message-list-item
                            *ngFor="let chat of chats"
                            [chat]="chat"
                            [active]="chat.id === activeMenuItem"
                            (activeMenuItem)="setActiveChat($event)"
                        ></app-direct-message-list-item>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>

<div class="menunav-button-container">
    <div
        (click)="toggleNav()"
        [class.close-menu-button]="isOpen"
        class="menunav-button"
    >
        <span class="text-menu-button">{{
            isOpen ? isClosedText : isOpenText
        }}</span>
        <div class="img-field"></div>
    </div>
</div>
