<!-- Members Menu Modal -->
<div
	*ngIf="isMembersMenuOpen"
	[ngStyle]="{ 'z-index': isProfileCardOpen ? 1 : 10 }"
	class="members-menu-modal"
>
	<header class="members-menu-modal-header">
		<div><h1>Members</h1></div>
		<div (click)="onCloseModals()" class="close-btn">
			<img
				alt="close"
				height="14"
				ngSrc="assets/img/chat/close.svg"
				width="14"
			/>
		</div>
	</header>
	<div class="members-list">
		<div
			*ngFor="let memberId of selectedChannel.channelMembers"
			class="member-list-item"
		>
			<ng-container *ngIf="memberId | channelUser | async as member">
				<div
					(click)="onProfileCardToggle(true, member)"
					class="menu-item"
				>
					<div class="avatar">
						<img
							[ngSrc]="member.photoURL"
							alt="avatar"
							height="2000"
							width="2000"
						/>
						<div
							[ngClass]="{
                online: (getMemberPresenceStatus(member.uid) | async)?.status === 'online',
                offline: (getMemberPresenceStatus(member.uid) | async)?.status === 'offline',
                away: (getMemberPresenceStatus(member.uid) | async)?.status === 'away'
              }"
							class="status"
						></div>
					</div>
					<div>
						{{ member.userName }}
						<span *ngIf="currentUser.uid === member.uid"> (You)</span>
					</div>
				</div>
			</ng-container>
		</div>
		<div (click)="onOpenAddMemberModal()" class="button-container">
			<div class="add-member">
				<img
					alt="add member"
					height="17"
					ngSrc="assets/img/chat/add_member.svg"
					width="22"
				/>
			</div>
			<div>Add Members</div>
		</div>
	</div>
</div>

<!-- Add Member Modal Desktop -->
<div
	*ngIf="isAddMemberModalOpen && screenWidth >= 1024"
	class="add-member-modal"
>
	<header class="add-member-modal-header">
		<div>
			<h1>Add Members</h1>
			<div class="add-member-channel-name">
				<img
					alt="channel tag hover"
					height="23"
					ngSrc="assets/img/chat/channel_tag_hover.svg"
					width="22"
				/>
				{{ selectedChannel.channelName || "Development" }}
			</div>
		</div>
		<div (click)="onCloseModals()" class="close-btn">
			<img
				alt="close"
				height="14"
				ngSrc="assets/img/chat/close.svg"
				width="14"
			/>
		</div>
	</header>
	<div class="member-input-container">
		<div
			*ngFor="let user of selectedUsersToAdd"
			class="selected-user-chip"
		>
			<img
				[ngSrc]="user.photoURL"
				alt="avatar"
				height="64"
				width="64"
			/>
			<div>{{ user.userName }}</div>
			<button (click)="onRemoveUserFromSelection(user)">×</button>
		</div>
		<input
			(ngModelChange)="onSearchInputChange()"
			[(ngModel)]="searchText"
			class="add-member-input"
			placeholder="Add Name"
			type="text"
		/>
	</div>
	<div *ngIf="filteredUsers.length > 0" class="user-suggestion-list">
		<div
			(click)="onAddUserToSelection(user)"
			*ngFor="let user of filteredUsers"
			class="user-suggestion"
		>
			<div class="avatar">
				<img
					[ngSrc]="user.photoURL"
					alt="avatar"
					height="64"
					width="64"
				/>
				<div
					[ngClass]="{
            online: (getMemberPresenceStatus(user.uid) | async)?.status === 'online',
            offline: (getMemberPresenceStatus(user.uid) | async)?.status === 'offline',
            away: (getMemberPresenceStatus(user.uid) | async)?.status === 'away'
          }"
					class="status"
				></div>
			</div>
			<span>{{ user.userName }}</span>
		</div>
	</div>
	<div>
		<button
			(click)="onAddNewMember()"
			[class]="disabledButton ? 'disabled-button' : ''"
			[disabled]="disabledButton"
			class="button"
		>
			Add
		</button>
	</div>
</div>

<!-- Add Member Modal Mobile -->
@if (screenWidth < 1024 && isAddMemberModalOpen) {
	<div class="mobile-add-member-modal">
		<header class="add-member-modal-header">
			<div class="close-btn-container">
				<button (click)="onCloseModals()" class="mobile-close-btn"></button>
			</div>
			<div>
				<h1>Add Members</h1>
				<div class="add-member-channel-name">
					<img
						ngSrc="assets/img/chat/channel_tag_hover.svg"
						alt="channel tag hover"
						height="23"
						width="22"
					/>
					{{ selectedChannel.channelName || "Development" }}
				</div>
			</div>
		</header>
		<div class="member-input-container">
			<div class="selected-user-chip" *ngFor="let user of selectedUsersToAdd">
				<img [ngSrc]="user.photoURL" alt="avatar" height="64" width="64"/>
				<div>{{ user.userName }}</div>
				<button (click)="onRemoveUserFromSelection(user)">×</button>
			</div>
			<input
				type="text"
				placeholder="Add Name"
				class="add-member-input"
				[(ngModel)]="searchText"
				(ngModelChange)="onSearchInputChange()"
			/>
		</div>
		<div *ngIf="filteredUsers.length > 0" class="user-suggestion-list">
			<div
				*ngFor="let user of filteredUsers"
				(click)="onAddUserToSelection(user)"
				class="user-suggestion"
			>
				<div class="avatar">
					<img [ngSrc]="user.photoURL" alt="avatar" height="64" width="64"/>
					<div
						[ngClass]="{
              online: (getMemberPresenceStatus(user.uid) | async)?.status === 'online',
              offline: (getMemberPresenceStatus(user.uid) | async)?.status === 'offline',
              away: (getMemberPresenceStatus(user.uid) | async)?.status === 'away'
            }"
						class="status"
					></div>
				</div>
				<span>{{ user.userName }}</span>
			</div>
		</div>
		<div>
			<button
				(click)="onAddNewMember()"
				[disabled]="disabledButton"
				[class]="disabledButton ? 'disabled-button' : ''"
				class="button"
			>
				Add
			</button>
		</div>
	</div>
}

<!-- Overlay für Members-Menu & Add-Member -->
<div
	(click)="onCloseModals()"
	*ngIf="isMembersMenuOpen || isAddMemberModalOpen"
	class="modal-bg">
</div>
