<div class="onboarding-wrapper">
    <header>
        <div class="logo">Logo</div>
        <div class="header-cta">
            <span>New to DA Bubble?</span>
            <a routerLink="signup">Konto erstellen</a>
        </div>
    </header>
    <div class="login-card">
        <header>
            <h2>Log In</h2>
            <span>We recommend that you use an email that you use at work.</span>
        </header>
        <form action="">
            <div class="form-group">
                <div class="input-field">
                    <input type="email" name="Email" placeholder="email@example.com" required>
                </div>
                <div class="input-field">
                    <input type="password" name="Password" placeholder="Password" required>
                </div>
            </div>
            <a routerLink="" class="password-link">Forgot your password?</a>
            <div class="divider">
                <div class="divider-line"></div>
                <span>OR</span>
                <div class="divider-line"></div>
            </div>

            <button class="btn btn-social">Log in with Google</button>

            <div class="form-controls">
                <button class="btn btn-primary" type="submit">Log in</button>
                <button class="btn btn-secondary">Guest</button>
            </div>
        </form>
    </div>
    <footer>
        <a routerLink="">Legal Notice</a>
        <a routerLink="">Privacy Policy</a>
    </footer>
</div>