<div class="animation-wrapper" *ngIf="!isAnimationComplete">
    <img src="assets/img/logo.svg" class="animation-logo logo-slide-in" alt="DA Bubble Logo"
        (animationend)="onLogoAnimationEnd()">
    <span class="animation-text" [class.hidden]="isTextHidden">DABubble</span>
</div>
<div class="onboarding-wrapper" *ngIf="isAnimationComplete">
    <header>
        <div class="header-inner">
            <div class="logo-wrapper">
                <img src="assets/img/logo.svg" class="main-logo" alt="DA Bubble Logo">
                <span class="logo-text">DABubble</span>
            </div>
            <div class="header-cta" *ngIf="showHeaderCta">
                <span>New to DABubble?</span>
                <a routerLink="signup">Sign Up</a>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
    <div class="header-cta-mobile" *ngIf="showHeaderCta">
        <span>New to DABubble?</span>
        <a routerLink="signup">Sign Up</a>
    </div>
    <footer *ngIf="showCardFooter">
        <div class="card-footer">
            <a routerLink="/legal-notice">Legal Notice</a>
            <a routerLink="/privacy-policy">Privacy Policy</a>
        </div>
    </footer>
</div>