<section class="chat-section">
  <header class="chat-header">
    <div class="chat-title" (click)="toggleModal()">
      <img class="icon" src="assets/img/chat/channel_tag.svg" />
      <h1>Entwicklerteam</h1>
      <img class="arrow" src="assets/img/chat/arrow_down.svg" />
    </div>

    <div class="chat-members">
      <div class="members">
        <div class="member">
          <img src="assets/img/avatars/av-01.svg" />
        </div>
        <div class="member">
          <img src="assets/img/avatars/av-02.svg" />
        </div>
        <div class="member">
          <img src="assets/img/avatars/av-03.svg" />
        </div>
        <div class="member-counter">3</div>
      </div>
      <div class="add-member">
        <img src="assets/img/chat/add_member.svg" />
      </div>
    </div>

    <div class="modal-bg" (click)="toggleModal()" *ngIf="modalIsOpen"></div>

    <div class="modal" *ngIf="modalIsOpen">
      <div class="container">
        <header class="modal-header">
          <div>
            <img class="tag" src="assets/img/chat/channel_tag.svg" />
            <h1>Entwicklerteam</h1>
          </div>
          <div class="close-btn" (click)="toggleModal()">
            <img src="assets/img/chat/close.svg" />
          </div>
        </header>
        <main class="modal-main">
          <div class="name-container" *ngIf="!nameIsEdit">
            <div>
              <h2>Channel-Name</h2>
              <button (click)="toggleNameEdit()">Bearbeiten</button>
            </div>

            <div class="name">
              <img src="assets/img/chat/channel_tag.svg" />
              Entwicklerteam
            </div>
          </div>

          <div class="name-container-edit" *ngIf="nameIsEdit">
            <div>
              <h2>Channel-Name</h2>
              <button (click)="toggleNameEdit()">Speichern</button>
            </div>

            <div class="input-container">
              <img src="assets/img/chat/channel_tag.svg" />
              <input type="text" placeholder="Entwicklerteam" />
            </div>
          </div>

          <div class="description-container" *ngIf="!descriptionIsEdit">
            <div>
              <h2>Description</h2>
              <button (click)="toggleDescriptionEdit()">Bearbeiten</button>
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
              error distinctio nesciunt, aspernatur fugit dicta assumenda
              delectus, nisi, facilis consequatur atque! In ratione molestiae
              itaque cum doloribus consequuntur eligendi repellendus.
            </div>

            <div class="seperator"></div>

            <h2>Created by</h2>
            <div class="creator">Noah Braun</div>
          </div>

          <div class="description-container-edit" *ngIf="descriptionIsEdit">
            <div>
              <h2>Description</h2>
              <button (click)="toggleDescriptionEdit()">Speichern</button>
            </div>

            <div class="input-container">
              <input type="text" placeholder="Your text here..." />
            </div>

            <div class="seperator"></div>

            <h2>Created by</h2>
            <div class="creator">Noah Braun</div>
          </div>
        </main>
      </div>
    </div>
  </header>

  <main class="chat-main">
    <div class="chat-history">
      <app-chat-message-other></app-chat-message-other>
      <app-chat-message-own></app-chat-message-own>
    </div>
    <!-- TODO: Dynamic channel or chat partner name in placeholder text -->
    <app-message-input-field
      class="message-input-field"
      [placeholderText]="'Nachricht an #Entwicklerteam'"
    ></app-message-input-field>
  </main>
</section>
