<section class="chat-section">
  <header>
    <div class="chat-title">
      <img class="icon" src="assets/img/chat/channel_tag.svg" />
      <h1>Entwicklerteam</h1>
      <img class="arrow" src="assets/img/chat/arrow_down.svg" />
    </div>

    <div class="chat-members">
      <div class="members">
        <div class="member">
          <img src="assets/img/avatars/av-01.svg" />
        </div>
        <div class="member">
          <img src="assets/img/avatars/av-02.svg" />
        </div>
        <div class="member">
          <img src="assets/img/avatars/av-03.svg" />
        </div>
        <div class="member-counter">3</div>
      </div>
      <div class="add-member">
        <img src="assets/img/chat/add_member.svg" />
      </div>
    </div>
  </header>

  <main>
    <div class="chat-history"></div>
    <app-message-input-field
      class="message-input-field"
    ></app-message-input-field>
  </main>
</section>
