<section class="chat-container">
  <header>
    <div class="chat-title">
      <img class="icon" src="assets/img/chat/channel_tag.svg" />
      <h1>Entwicklerteam</h1>
      <img class="arrow" src="assets/img/chat/arrow_down.svg" />
    </div>

    <div class="chat-members">
      <div class="members">
        <div class="member">
          <img src="assets/img/avatars/av-01.svg" />
        </div>
        <div class="member">
          <img src="assets/img/avatars/av-02.svg" />
        </div>
        <div class="member">
          <img src="assets/img/avatars/av-03.svg" />
        </div>
        <div class="member-counter">3</div>
      </div>
      <div class="add-member">
        <img src="assets/img/chat/add_member.svg" />
      </div>
    </div>
  </header>

  <main>
    <div class="chat-history"></div>
    <div class="chatbox-container">
      <textarea name="" id="" placeholder="Nachricht an #Entwicklerteam"></textarea>
      <div class="chatbox-options-container">
        <div class="options-container">
          <div class="emoji" (mouseover)="hoverEmoji = true" (mouseout)="hoverEmoji = false"
            [ngClass]="{ 'option-black': hoverTag }">
          </div>
          <div class="tag" (mouseover)="hoverTag = true" (mouseout)="hoverTag = false"
            [ngClass]="{ 'option-black': hoverEmoji }">
          </div>
        </div>
        <div (mouseover)="hoverTag = true; hoverEmoji = true" (mouseout)="hoverTag = false; hoverEmoji=false"
          class="send"></div>
      </div>
    </div>
  </main>
</section>