<div class="popup-modal" *ngIf="showPopup">
  <div class="popup-container">
    <div class="popup-content" [attr.data-step]="1" *ngIf="currentStep === 1">
      <div class="header">
        <h2>Create new Channel</h2>
        <div (click)="closePopup()"></div>
      </div>
      <p>
        Channels are where your team communicates. They're best organized by
        topic #marketing for example.
      </p>
      <form (ngSubmit)="nextStep()">
        <div class="input-group hash">
          <label for="channelName">Channel name</label>
          <div class="input-container">
            <input
              type="text"
              id="channelName"
              [(ngModel)]="channelName"
              name="channelName"
              required
              placeholder="e.g. Office-Team"
            />
            <div class="hash-icon"></div>
          </div>
        </div>
        <div class="input-group">
          <label for="description">Description (optional)</label>
          <textarea
            id="description"
            [(ngModel)]="description"
            name="description"
            placeholder="Add a description..."
            (input)="autoGrow($event)"
          ></textarea>
        </div>
        <div class="button-group">
          <button class="btn" type="submit">Create</button>
        </div>
      </form>
    </div>

    <div class="popup-content" [attr.data-step]="2" *ngIf="currentStep === 2">
      <div class="close-btn-mobile" (click)="previousStep()"></div>
      <div class="header">
        <h2>Add people</h2>
        <div class="close-btn" (click)="closePopup()"></div>
      </div>

      <div class="access-options">
        <div class="option-item">
          <input
            type="radio"
            id="all-members"
            name="access"
            [value]="'all'"
            [(ngModel)]="accessType"
          />
          <label for="all-members">
            <span>All members of</span>
            <span class="team-name"> OfficeTeam </span>
            <span>add</span>
          </label>
        </div>

        <div class="option-item">
          <input
            type="radio"
            id="select-people"
            name="access"
            [value]="'selected'"
            [(ngModel)]="accessType"
          />
          <label for="select-people">Add certain people</label>
        </div>
      </div>

      <div class="input-group" *ngIf="accessType === 'selected'">
        <input
          type="text"
          placeholder="name for search"
          [(ngModel)]="searchText"
          name="search"
        />
      </div>

      <div class="button-group">
        <button
          class="btn"
          [disabled]="!isValidForCreation()"
          [class.disabled]="!isValidForCreation()"
          (click)="createChannel()"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>
