<div class="options-container">
    <span (click)="addQuickReaction()">👍</span>
    <img (click)="toggleEmojiModal()" src="assets/img/chat/reaction.svg"/>
    <img (click)="openThread()" src="assets/img/chat/comment.svg"/>
    <img *ngIf="isOwnMessage" (click)="toggleOptionsMenu()" src="assets/img/chat/more_vert.svg"/>
</div>

<!-- Emoji-Modal -->
<div *ngIf="isEmojiModalOpen" class="modal">
    <ul class="emoji-list">
        <li (click)="addEmoji(emoji)" *ngFor="let emoji of emojiList">
            <span class="emoji">{{ emoji }}</span>
        </li>
    </ul>
</div>

<!-- Options-Menü für eigene Nachrichten -->
<div *ngIf="isOptionsMenuOpen && isOwnMessage" class="options-menu">
    <ul>
        <li (click)="startEditing()">
            <span>Edit</span>
        </li>
        <!-- Weitere Optionen können hier hinzugefügt werden -->
        <li (click)="deleteMessage()">
            <span>Delete</span>
        </li>
    </ul>
</div>
