@use "../../../../styles/variables" as variables;

:host.option-bar-own .options-container {
    right: auto;
    left: 48px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 0;
}

:host.option-bar-other .options-container {
    right: 48px;
    left: auto;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 24px;
}

.options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    border: 1px solid variables.$border;
    border-radius: 24px;
    border-bottom-right-radius: 0;
    background-color: variables.$bg-base-200;
    position: absolute;
    top: -16px;
    right: 48px;
}

.modal {
    position: absolute;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 8px;

    // Position anpassen
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.emoji-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        cursor: pointer;
        padding: 4px;

        &:hover {
            background-color: #f5f5f5;
            border-radius: 4px;
        }
    }

    .emoji {
        font-size: 18px;
    }
}

.options-menu {
    position: absolute;
    top: 8px;
    right: 48px;
    background-color: #ffffff;
    border: 1px solid #adb0d9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            padding: 8px 16px;
            cursor: pointer;

            &:hover {
                background-color: #f5f5f5;
            }

            img {
                width: 18px;
                height: 18px;
                margin-right: 8px;
            }

            span {
                font-size: 14px;
            }
        }
    }
}

:host-context(.own-message) .options-menu {
    right: auto;
    left: 48px;
}
