@use "../../../../styles/variables" as variables;
@use "../../../../styles/mixins" as mixins;

:host.option-bar-own .options-container {
  right: auto;
  left: 48px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
}

:host.option-bar-other .options-container {
  right: 48px;
  left: auto;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 30px;
}

.options-container {
  @include mixins.flex-center;
  padding: 16px;
  gap: 16px;
  border: 1px solid variables.$border;
  border-radius: 30px 30px 0 30px;
  background-color: variables.$bg-base-200;
  position: absolute;
  top: -16px;
  right: 48px;

  span {
    font-size: 24px;
    cursor: pointer;
    @include mixins.hover-scale;
  }

  img {
    cursor: pointer;
    @include mixins.hover-scale;
  }
}

.modal {
  position: absolute;
  background-color: variables.$bg-base-200;
  border: 1px solid variables.$border;
  border-radius: 0 20px 20px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  top: 16px;
  left: 25%;
  transform: translateX(-50%);
}

.emoji-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  list-style: none;

  > li {
    @include mixins.flex-center;
    padding: 4px;
    gap: 16px;
    width: calc(25% - 12px);
    height: 40px;
    border-radius: 32px;
    list-style-type: none;
    font-size: 24px;

    @include mixins.hover-bg(variables.$bg-neutral-hover);
    cursor: pointer;

    > img {
      width: 20px;
      height: 20px;
    }
  }
}

.options-menu {
  position: absolute;
  top: 16px;
  left: 48px;
  background-color: #ffffff;
  border: 1px solid #adb0d9;
  border-radius: 0 30px 30px 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      @include mixins.flex-row;
      padding: 8px 16px;
      cursor: pointer;

      &:hover {
        background-color: variables.$bg-base-100;
        border-radius: 30px;
        color: variables.$bg-primary-accent;
      }

      img {
        width: 18px;
        height: 18px;
        margin-right: 8px;
      }

      span {
        font-size: 18px;
        text-align: center;
        width: 100%;

        &:hover {
          font-weight: 600;
        }
      }
    }
  }
}

:host-context(.own-message) .options-menu {
  width: 200px;
  padding: 1rem;
  right: auto;
  left: 208px;
}
