<div class="card-wrapper">
    <div class="reset-pw-card">
        <div class="card-header">
            <button class="btn btn-back" (click)="navigateBack()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-arrow-left-icon lucide-arrow-left">
                    <path d="m12 19-7-7 7-7" />
                    <path d="M19 12H5" />
                </svg>
            </button>
            <h2>Reset Password</h2>
            <span>Please enter your e-mail address.</span>
        </div>
        <form [formGroup]="resetPWForm" (ngSubmit)="resetPassword()">
            <div class="form-group">
                <div class="input-field">
                    <input type="email" id="reset-pw-email" formControlName="email" placeholder="email@example.com">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-mail-icon lucide-mail">
                        <rect width="20" height="16" x="2" y="4" rx="2" />
                        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
                    </svg>
                </div>
                <span class="error-message"
                    [class.visible]="resetPWForm.get('email')?.invalid && resetPWForm.get('email')?.touched">
                    *Please enter a valid e-mail address.
                </span>
            </div>
            <span class="text-secondary">We will send you an e-mail where you can change your password.</span>
            <div class="form-controls">
                <button class="btn btn-primary" type="submit" [disabled]="!resetPWForm.valid">Send Email</button>
            </div>
        </form>
    </div>
</div>
<app-notifications #notification></app-notifications>