@use "./../../../../styles/fonts" as fonts;
@use "./../../../../styles/variables" as variables;
@use "./../../../../styles/mixins" as mixins;

.modal {
	width: fit-content;
	height: fit-content;
	background-color: variables.$bg-base-200;
	border: 1px solid variables.$border;
	border-radius: 20px 20px 20px 0;
	position: absolute;
	bottom: 128px;
	z-index: 1;
}

.emoji-list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 8px;
	padding: 16px;
	justify-content: center;
	align-items: center;

	> li {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4px;
		gap: 16px;
		height: 40px;
		width: 40px;
		border-radius: 32px;
		list-style-type: none;
		font-size: 24px;

		&:hover {
			background-color: variables.$bg-neutral-hover;
			cursor: pointer;
		}

		> img {
			width: 20px;
			height: 20px;
		}
	}
}

.user-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 16px;
	gap: 16px;
	width: 100%;

	> li {
		@include mixins.user-list-li;

		&:hover {
			background-color: variables.$bg-neutral-hover;
			cursor: pointer;
		}

		> div {
			position: relative;

			> img {
				width: 50px;
				height: 50px;
			}

			.status {
				width: 16px;
				height: 16px;
				border: 2px solid variables.$bg-base-200;
				border-radius: 50%;
				position: absolute;
				bottom: 4px;
				right: 0;
				z-index: 5;

				&.online {
					background-color: variables.$online;
				}

				&.offline {
					background-color: variables.$offline;
				}
			}
		}
	}
}

.channel-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 16px;
	gap: 16px;
	width: 100%;

	> li {
		@include mixins.user-list-li;

		&:hover {
			background-color: variables.$bg-neutral-hover;
			cursor: pointer;
		}

		> img {
			width: 16px;
			height: 16px;
		}
	}
}
