<div *ngIf="isEmojiModalOpen" class="modal">
    <ul class="emoji-list">
        <li (click)="addEmoji(emoji)" *ngFor="let emoji of emojiList">
            <span class="emoji">{{ emoji }}</span>
        </li>
    </ul>
</div>

<div *ngIf="isUserTagModalOpen" class="modal">
    <ul class="user-list">
        <li (click)="addUserTag(user.userName)" *ngFor="let user of users">
            <div>
                <img class="user-img" src="{{ user.photoURL }}"/>
                <div [ngClass]="{ online: user.status === 'online', offline: user.status === 'offline' }"
                     class="status">
                </div>
            </div>
            <div class="user-name">{{ user.userName }}</div>
        </li>
    </ul>
</div>

<div *ngIf="isChannelTagModalOpen" class="modal">
    <ul class="channel-list">
        <li (click)="addChannelTag(channel.channelName)" *ngFor="let channel of channels">
            <div class="channel-name">{{ channel.channelName }}</div>
        </li>
    </ul>
</div>
