@use './variables' as variables;

@mixin button-base {
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    width: fit-content;
    height: 3rem;
    padding: 0 1.5rem;
    border: unset;
    border-radius: 999rem;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid transparent;
}

@mixin button-hover($bg-color, $text-color) {
    color: $text-color;
    background-color: $bg-color;

    svg {
        color: $text-color;
    }
}

.btn {
    @include button-base;
    color: variables.$text-inverse;
    background-color: variables.$bg-neutral;
}

.btn:active {
    transform: scale(0.95);
}

.btn:hover {
    background-color: color-mix(in srgb, variables.$text-primary 70%, transparent 10%);
}

.btn:disabled {
    background-color: variables.$bg-neutral;
    color: variables.$text-inverse;
    border: 1px solid variables.$bg-neutral;
    cursor: not-allowed;
}

.btn-primary {
    color: variables.$text-inverse;
    background-color: variables.$bg-primary;
}

.btn-primary:hover {
    @include button-hover(variables.$bg-primary-accent, variables.$text-inverse);
}

.btn:disabled:hover {
    @include button-hover(variables.$bg-neutral, variables.$text-inverse);
}

.btn-secondary {
    color: variables.$bg-primary;
    background-color: variables.$bg-base-200;
    border: 1px solid variables.$bg-primary;
}

.btn-secondary:hover {
    @include button-hover(variables.$bg-primary, variables.$text-inverse);
}
