@font-face {
    font-family: Nunito;
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
    src: url('../../public/assets/fonts/nunito-variable.ttf');
}

@font-face {
    font-family: Figtree;
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
    src: url('../../public/assets/fonts/figtree-variable.ttf');
}