$bg-base-100: #eceefe;
$bg-base-200: #ffffff;
$bg-neutral: #686868;
$bg-primary: #444df2;
$bg-primary-accent: #797ef3;
$border-color: #acb0d9;
$text-primary: #000000;
$text-secondary: #686868;
$text-inverse: #ffffff;
$online: #92C83E;
$offline: #686868;

