<section class="message-input-section">
  <div class="userTagModal" *ngIf="userTagModalIsOpen"></div>
  <div class="emojiModal" *ngIf="emojiModalIsOpen"></div>

  <textarea
    [placeholder]="placeholderText"
    [(ngModel)]="messageInputData"
    (keydown)="onKeyDown($event)"
  ></textarea>
  <div class="options-container">
    <div class="options">
      <div class="options-link emoji" (click)="toggleEmojiModal()">
        <img src="assets/img/shared/emoji.svg" />
      </div>
      <div class="options-link tag" (click)="toggleUserTagModal()">
        <img src="assets/img/shared/tag.svg" />
      </div>
    </div>
    <div class="send-button"></div>
  </div>
</section>
