<section class="message-input-wrapper">
    <div class="message-input-section">
        <textarea
            (keydown)="onKeyDown($event)"
            [(ngModel)]="messageInputData"
            rows="2"
            placeholder="Message to #channelname"
            rows="3"
        ></textarea>

        <div class="options-container">
            <div class="options">
                <div (click)="toggleEmojiModal()" class="options-link emoji">
                    <img
                        src="assets/img/shared/message-input-field/emoji.svg"
                    />
                </div>
                <div (click)="toggleUserTagModal()" class="options-link tag">
                    <img
                        src="assets/img/shared/message-input-field/user-tag.svg"
                    />
                </div>
            </div>
            <div (click)="trySendMessage()" class="send-button"></div>
        </div>

        <app-message-input-modal
            (choosenEmoji)="addEmoji($event)"
            [emojiList]="emojiList"
            [isEmojiModalOpen]="isEmojiModalOpen"
        >
        </app-message-input-modal>

        <app-message-input-modal
            (choosenUserTag)="addUserTag($event)"
            [isUserTagModalOpen]="isUserTagModalOpen"
            [users]="users"
        >
        </app-message-input-modal>

        <app-message-input-modal
            (choosenChannelTag)="addChannelTag($event)"
            [isChannelTagModalOpen]="isChannelTagModalOpen"
        >
        </app-message-input-modal>
    </div>
</section>
