<section class="message-input-wrapper">
	<div class="message-input-section">
        <textarea (keydown)="onKeyDown($event)"
                  [(ngModel)]="messageInputData"
                  placeholder="{{ selectedChannel }}"
                  rows="2"></textarea>

		<div class="options-container">
			<div class="options">
				<div (click)="toggleEmojiModal()" class="options-link emoji">
					<img alt="Emoji selector"
					     height="24"
					     ngSrc="/assets/img/shared/message-input-field/emoji.svg"
					     width="24"/>
				</div>
				<div (click)="toggleUserTagModal()" class="options-link user-tag">
					<img alt="Tag user"
					     height="24"
					     ngSrc="/assets/img/shared/message-input-field/user-tag.svg"
					     width="24"/>
				</div>
				<div (click)="toggleChannelTagModal()" class="options-link channel-tag">
					<img alt="Tag channel"
					     height="24"
					     ngSrc="/assets/img/shared/message-input-field/channel-tag_grey.svg"
					     width="24"/>
				</div>
			</div>
			<div (click)="trySendMessage()" class="send-button"></div>
		</div>

		<app-message-input-modal (chosenEmoji)="addEmoji($event)"
		                         [emojiList]="emojiList"
		                         [isEmojiModalOpen]="isEmojiModalOpen"></app-message-input-modal>

		<app-message-input-modal (chosenUserTag)="addUserTag($event)"
		                         [isUserTagModalOpen]="isUserTagModalOpen"
		                         [users]="users"></app-message-input-modal>

		<app-message-input-modal (chosenChannelTag)="addChannelTag($event)"
		                         [channels]="channels"
		                         [isChannelTagModalOpen]="isChannelTagModalOpen"></app-message-input-modal>
	</div>
</section>
