@use "./../../../styles/fonts" as fonts;
@use "./../../../styles/variables" as variables;

.message-input-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 100%;
    border: 1px solid variables.$border;
    border-radius: 20px;
    position: relative;

    textarea {
        border: none;
        outline: none;
        resize: none;
        width: 100%;
        height: 100%;
    }
}

.options-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &:has(:hover) :not(:hover).options-link {
        filter: brightness(0);
    }
}

.options-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: variables.$bg-neutral-hover;
    }
}

.emoji {
    &:hover {
        img {
            content: url("/assets/img/shared/emoji_hover.svg");
        }
    }
}

.tag {
    &:hover {
        img {
            content: url("/assets/img/shared/tag_hover.svg");
        }
    }
}

.send-button {
    background-image: url("/assets/img/send.svg");
    background-size: cover;
    background-position: center;
    height: 18.77px;
    width: 21.78px;

    &:hover {
        cursor: pointer;
        background-image: url("/assets/img/send_hover.svg");
    }
}

.emojiModal,
.userTagModal {
    padding: 20px;
    width: 300px;
    height: 200px;
    background-color: variables.$bg-base-200;
    border: 1px solid variables.$border;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    position: absolute;
    bottom: 128px;
    z-index: 1;
}
