<div class="workspace">
    <!-- logOut function should be included into workspace header component -->
    <!-- <button (click)="logOut()">LogOut</button> -->
    <div class="workspace-container">
        <app-workspace-header
            (toggleMenu)="handleProfileMenu($event)"
            [openMenu]="isProfileMenuOpen"
        ></app-workspace-header>
        <div>
            <app-main-menu></app-main-menu>
            <app-chat></app-chat>
            <app-thread *ngIf="isThreadOpen"></app-thread>
            <!-- <app-new-channel [showPopup]="false"></app-new-channel> -->
        </div>
    </div>
</div>

<!-- PROFILE CARD -->
<div (click)="close()" *ngIf="isProfileInfoOpen" class="modal-bg">
    <app-profile-card *ngIf="isProfileInfoOpen"></app-profile-card>
</div>

<div (click)="close()" *ngIf="isProfileMenuOpen" class="modal-bg"></div>

 
