@use "./../../styles/fonts" as fonts;
@use "./../../styles/variables" as variables;

.workspace {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    position: relative;
}

.workspace-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    width: 1920px;
    height: 100vh;
    background-color: variables.$bg-base-100;

    > div {
        display: flex;
        gap: 20px;
        height: 100%;
    }
}

.modal-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000050;
    z-index: 1;
}

app-chat {
    flex: 1;
}
