@use "./../../styles/fonts" as fonts;
@use "./../../styles/variables" as variables;

.workspace {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.workspace-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    width: 1920px;
    height: 100vh;
    gap: 1.25rem;
    background-color: variables.$bg-base-100;

    > div {
        display: flex;
        gap: 20px;
        height: calc(100vh - 8rem);
    }
}

.modal-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000050;
    z-index: 1;
}

app-chat {
    flex: 1;
}

.profile-modal-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000050;
    z-index: 1;
}

.profile-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 30px;
    box-shadow: 0 6px 10px 0 #00000033;
    background-color: variables.$bg-base-200;

    .container {
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 48px;

        > img {
            width: 200px;
            height: 200px;
            border-radius: 100px;
        }
    }
}
