<div class="workspace">
    <!-- logOut function should be included into workspace header component -->
    <!-- <button (click)="logOut()">LogOut</button> -->
    <div class="workspace-container">
        <app-workspace-header></app-workspace-header>
        <div>
            <app-main-menu></app-main-menu>
            <app-chat></app-chat>
            <app-thread *ngIf="isThreadOpen"></app-thread>
            <!-- <app-new-channel [showPopup]="false"></app-new-channel> -->
        </div>
    </div>
</div>

<!-- PROFILE CARD -->
<div *ngIf="isProfileInfoOpen" class="profile-modal-bg">
    <div
        *ngIf="isProfileInfoOpen"
        class="profile-modal"
        onclick="event.stopPropagation()"
    >
        <div class="container">
            <h2>Profil</h2>
            <img src="assets/img/avatar1.svg" />
            <div class="name-container">
                <h1>Noah Braun</h1>
                <div class="online-status">Active</div>
            </div>
            <div class="email-container">
                <div>
                    <img src="" alt="" />
                    <div>Email-Adress</div>
                </div>
                <a href="mailto: #">noahbraun&#64;test.mail</a>
            </div>
            <button><img src="" alt="" />Message</button>
        </div>
    </div>
</div>
