<div class="workspace">
	<div class="workspace-container">
		<app-workspace-header></app-workspace-header>
		<div class="workspace-content">
			<app-main-menu></app-main-menu>
			<app-chat></app-chat>
			<app-thread *ngIf="isThreadOpen"></app-thread>
		</div>
	</div>
</div>

<!-- PROFILE CARD -->
<div (click)="closeProfileModals()" *ngIf="isProfileCardOpen" class="modal-bg">
	<app-profile-card *ngIf="isProfileCardOpen" [currentPerson]="currentPerson"></app-profile-card>
</div>

<div (click)="closeProfileModals()" *ngIf="isUserMenuOpen" class="modal-bg"></div>
