<div class="thread-container">
    <div class="thread-head-container">
        <div class="thread-description-container">
            <span class="thread-head-text">Thread</span>
            <div class="thread-tag"></div>

            <span class="thread-description">{{ threadChannelName }}</span>
        </div>
        <div (click)="handleThread()" class="close-btn">
            <img src="assets/img/thread/close.svg"/>
        </div>
    </div>
    <main>
        <app-chat-message-other
            *ngFor="
                let message of (messages$ | async) ?? [];
                trackBy: trackByMessageId
            "
            [message]="message"
        ></app-chat-message-other>
        <!-- TODO: Dynamic channel or chat partner name in placeholder text ???????????????????? Dont know wtf you mean -->
        <app-message-input-field
            (send)="sendThreadMessage($event)"
            [placeholderText]="'Antworten...'"
            class="message-input-field"
        ></app-message-input-field>
    </main>
</div>
