<div class="message-time-separator">
	<div class="time">Heute</div>
</div>
<div class="message-container">
	<div class="avatar">
		<img alt="User avatar" height="50" ngSrc="/assets/img/avatars/av-03.svg" width="50">
		<div class="status online"></div>
	</div>
	<div class="message-content-container">
		<div class="author-container">
			<span class="author-name">Frederik Beck</span> <span class="message-time">15:06 Uhr</span>
		</div>

		<div class="message">Lorem, ipsum dolor sit amet consectetur radicalising elit. Dolores, dicta veritas, quo nemo
			corrupt, deletion molests perspicacity fugit distinctio nisi quia rem poor militia explicable auteur
			blandish assume Kumquat ea.
		</div>
		<div class="replies-container">
			<div>
				<img alt="" height="16" ngSrc="/assets/img/chat-emojis/rocket.svg" width="16">
				<span>1</span>
			</div>
			<div>
				<img alt="" height="16" ngSrc="/assets/img/chat-emojis/white-heavy-check-mark.svg" width="16">
				<span>1</span>
			</div>
			<img alt="" height="23" ngSrc="/assets/img/chat/add_reaction_hover.svg" width="23">
		</div>
	</div>
</div>
