<div class="message-time-seperator">
  <div class="time">Heute</div>
</div>
<div class="message-container">
  <img alt="" src="assets/img/avatars/av-03.svg">
  <div class="message-content-container">
    <div class="author-container">
      <span class="author-name">Frederik Beck</span> <span class="message-time">15:06 Uhr</span>
    </div>

    <div class="message">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore, dicta veritatis, quo nemo
      corrupti, deleniti molestias perspiciatis fugiat distinctio nisi quia rem porro mollitia explicabo autem
      blanditiis assumenda numquam ea.
    </div>
    <div class="replies-container">
      <div>
        <img alt="" src="assets/img/chat-emojis/rocket.svg">
        <span>1</span>
      </div>
      <div>
        <img alt="" src="assets/img/chat-emojis/white-heavy-check-mark.svg">
        <span>1</span>
      </div>
      <img alt="" src="assets/img/chat/add_reaction.svg">
    </div>
  </div>
</div>
