<div class="card-wrapper">
	<div class="login-card">
		<div class="card-header">
			<h2>Log In</h2>
			<span>We recommend that you use an email that you use at work.</span>
		</div>
		<form (ngSubmit)="onSubmit()" [formGroup]="logInForm">
			<div class="form-group">
				<div class="input-field">
					<input formControlName="email" id="login-email" placeholder="email@example.com" type="email">
					<svg class="lucid lucid-mail-icon lucid-mail"
					     fill="none"
					     height="24"
					     stroke="currentColor"
					     stroke-linecap="round"
					     stroke-linejoin="round"
					     stroke-width="2"
					     viewBox="0 0 24 24"
					     width="24"
					     xmlns="http://www.w3.org/2000/svg">
						<rect height="16" rx="2" width="20" x="2" y="4"/>
						<path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/>
					</svg>
				</div>
				<span [class.visible]="(logInForm.get('email')?.invalid && logInForm.get('email')?.touched) ||
                serverError.includes('email')" class="error-message visible">
                    {{ getEmailErrorMessage() }}
                </span>
				<div class="input-field">
					<input formControlName="password" id="login-password" placeholder="Password" type="password">
					<svg class="lucid lucid-lock-icon lucid-lock"
					     fill="none"
					     height="24"
					     stroke="currentColor"
					     stroke-linecap="round"
					     stroke-linejoin="round"
					     stroke-width="2"
					     viewBox="0 0 24 24"
					     width="24"
					     xmlns="http://www.w3.org/2000/svg">
						<rect height="11" rx="2" ry="2" width="18" x="3" y="11"/>
						<path d="M7 11V7a5 5 0 0 1 10 0v4"/>
					</svg>
				</div>
				<span [class.visible]="(logInForm.get('password')?.invalid && logInForm.get('password')?.touched) ||
                serverError.includes('password')" class="error-message">
                    {{ getPasswordErrorMessage() }}
                </span>
			</div>
			<a class="password-link" routerLink="/reset-password">Forgot your password?</a>
			<div class="divider">
				<div class="divider-line"></div>
				<span>OR</span>
				<div class="divider-line"></div>
			</div>
			<div class="login-options">
				<button (click)="googleLogIn()" class="btn btn-social">
					<img alt="Google Icon" class="google-icon" height="38" ngSrc="/assets/img/google.png" width="38">
					Log in with Google
				</button>
				<div class="form-controls">
					<button class="btn btn-primary" type="submit">Log in</button>
					<button (click)="guestLogIn()" class="btn btn-secondary">Guest</button>
				</div>
			</div>
		</form>
	</div>
</div>
