<div class="message-time-seperator">
    <div class="time">Dienstag, 14 Januar</div>
</div>
<div class="message-container">
    <img alt="" src="assets/img/avatars/av-04.svg">
    <div class="message-content-container">
        <div class="author-container">
            <span class="author-name">{{ message.sender || 'Noah Braun' }}</span> <span class="message-time">{{ message.timestamp | date:'short' }}</span>
        </div>

        <div class="message">{{ message.text }}</div>
        <div class="replies-container">
            <span class="replies">2 Antworten</span>
            <span class="last-reply">Letze Antwort 14:56</span>
        </div>
    </div>
    <div class="chat-message-other">
        <div class="message-header">
            <span class="sender"></span>
            <span class="timestamp"></span>
        </div>
    </div>

</div>
