@use "./../../styles/fonts" as fonts;
@use "./../../styles/variables" as variables;

.workspace {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.workspace-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 1920px;
  height: 100vh;
  background-color: variables.$bg-base-100;

  > div {
    display: flex;
    gap: 20px;
    height: 100%;
  }
}
