@use "../../../../styles/variables" as variables;
@use "../../../../styles/fonts" as fonts;

.menu-item {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    padding: 4px 20px;
    gap: 10px;
    border-radius: 20px;
    cursor: pointer;

    > div {
        display: flex;
        justify-self: center;
        align-items: center;
    }

    &:hover {
        background-color: variables.$bg-base-100;

        div {
            font-weight: 700;
            color: variables.$text-hover;

            > img {
                content: url("/assets/img/main-menu/channel_tag_hover.svg");
            }
        }
    }
}
